Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint, update-version

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
        files: ^backend/
-   repo: local
    hooks:
    -   id: pytest-check
        name: pytest-check
        files: ^backend/
        entry: pytest
        language: system
        pass_filenames: false
        always_run: false
    -   id: prettier
        name: prettier
        files: ^frontend/
        entry: npm run format --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: eslint
        name: eslint
        files: ^frontend/
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: update-version
        name: update version from file
        entry: node frontend/scripts/updateVersion.cjs
        language: system
        files: ^VERSION$
        pass_filenames: false

fix typo
  frontend/.env
Due: prettier, eslint

move .env to root and set up dev/prod envs
  .env.development
  .env.production
  backend/settings.py
  docker-compose.yaml
  frontend/.env
  frontend/.env.development
  frontend/src/api/axios.js
  frontend/src/composables/useAuth.js
  frontend/vite.config.js
  start_docker.sh
Due: pytest-check, prettier, eslint

fix dev/prod docker setup
  docker-compose.dev.yaml
  docker-compose.prod.yaml
  docker-compose.yaml
  start_docker.sh
Due: none

pull all urls from .env
  .env.development
  .env.example
  .env.production
  .gitignore
  backend/settings.py
  docker-compose.prod.yaml
  frontend/vite.config.js
  nginx/nginx.conf.template
  schema-manager.sh
Due: pytest-check, prettier, eslint

fix certbot and ssl templates
  docker-compose.prod.yaml
  nginx/nginx-http-only.conf.template
  nginx/nginx-ssl.conf.template
Due: none

fix nginx and cert setup
  docker-compose.prod.yaml
Due: none

change substitution pattern
  docker-compose.prod.yaml
Due: none

fix prod setup to retrieve correct env variables
  docker-compose.prod.yaml
Due: none

fix docker starter script
  start_docker.sh
Due: none

fix port management in prod
  docker-compose.prod.yaml
Due: none

reenable https
  docker-compose.prod.yaml
Due: none

frontend should run in prod mode
  docker-compose.prod.yaml
Due: none

add version to frontend
  docker-compose.prod.yaml
  docker-compose.yaml
Due: none

fix npm building
  docker-compose.prod.yaml
Due: none

support api subdomain
  docker-compose.prod.yaml
  nginx/nginx-ssl.conf.template
Due: none

ix certbot for subdomain
  docker-compose.prod.yaml
Due: none

ignore some deployment files
  .gitignore
Due: none

clarify selected evaluation
  frontend/src/components/poll/ElementPollPane.vue
Due: prettier, eslint

update on selection actions
  frontend/src/components/graph/FlowEditor.vue
Due: prettier, eslint

move obvious edge types arrows
  frontend/src/components/graph/GraphSchema.vue
Due: prettier, eslint

arrows on global graph view
  frontend/src/components/graph/SigmaGraphVis.vue
Due: prettier, eslint

activate edge label on node hovering
  frontend/src/components/graph/SigmaGraphVis.vue
Due: prettier, eslint

improve favourite button placement
  frontend/src/components/node/NodeInfo.vue
  frontend/src/components/node/NodeInfoView.vue
Due: prettier, eslint

slight improvement of tabs styling
  frontend/src/assets/styles.css
  frontend/src/components/edge/EdgeInfo.vue
  frontend/src/components/node/NodeInfo.vue
  frontend/src/components/poll/AggRatingMultipane.vue
Due: prettier, eslint

fix submission of continuous evaluations
  frontend/src/components/poll/ElementPollPane.vue
Due: prettier, eslint

add hovering information on node types for Graph schema
  frontend/src/components/common/SideMenu.vue
  frontend/src/components/graph/GraphSchema.vue
Due: prettier, eslint

clarify env config and deduplicate db variables
  .env.example
  backend/test_main.py
  backend/test_ratings.py
  backend/test_users.py
  docker-compose.yaml
Due: pytest-check

deal with missing polls field
  backend/config.py
Due: pytest-check

create dbs at startup if non existent
  backend/initdb/init-databases.sh
  backend/initdb/init-testdb.sh
  start_docker.sh
Due: pytest-check

fix missing tags field issue
  frontend/src/components/edge/EdgeInfoEdit.vue
Due: prettier, eslint

configuration file is now specified in env
  .env.example
  .gitignore
  backend/config.py
  backend/models/fixed.py
  config/config-example.yaml
  docker-compose.yaml
  schema-manager.sh
  start_docker.sh
Due: pytest-check

remove doc
  README.md
  docs/configuration.md
  docs/index.md
  docs/modelling/demos.md
  docs/modelling/graph.md
  docs/view/browse_view_example.png
  docs/view/browsing.md
  docs/view/focus.md
  docs/view/focus_view_example.png
  docs/view/user.md
  mkdocs.yml
Due: none

remove graph view and add tagline to main page
  backend/config.py
  backend/main.py
  config/config-example.yaml
  frontend/src/composables/useConfig.ts
  frontend/src/views/MainPage.vue
Due: pytest-check, prettier, eslint

update search prompt
  frontend/src/components/common/SearchBar.vue
Due: prettier, eslint

clicking on mainpage title goes to about
  frontend/src/views/MainPage.vue
Due: prettier, eslint

improve commmongraph about and prompt customisation for other platforms
  frontend/src/views/About.vue
Due: prettier, eslint

update auth env config
  backend/api/auth.py
  backend/config.py
  backend/models/fixed.py
  config/config-example.yaml
Due: pytest-check

add site header
  .env.example
  frontend/src/assets/styles.css
  frontend/src/components/common/Header.vue
  frontend/src/components/common/Layout.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

use platform name in search bar
  frontend/src/components/common/Header.vue
  frontend/src/components/common/SearchBar.vue
Due: prettier, eslint

main page better layed out
  frontend/src/views/MainPage.vue
Due: prettier, eslint
