Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint, update-version

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
        files: ^backend/
-   repo: local
    hooks:
    -   id: pytest-check
        name: pytest-check
        files: ^backend/
        entry: pytest
        language: system
        pass_filenames: false
        always_run: false
    -   id: prettier
        name: prettier
        files: ^frontend/
        entry: npm run format --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: eslint
        name: eslint
        files: ^frontend/
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: update-version
        name: update version from file
        entry: node frontend/scripts/updateVersion.cjs
        language: system
        files: ^VERSION$
        pass_filenames: false

improve side menu layout
  frontend/src/components/common/Layout.vue
  frontend/src/components/common/SideMenu.vue
  frontend/src/components/graph/FlowEditor.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

improve main page link aspect
  frontend/src/views/MainPage.vue
Due: prettier, eslint

improve compass aspect
  frontend/src/components/graph/FlowEditor.vue
Due: prettier, eslint

improve compass
  frontend/src/components/graph/FlowEditor.vue
Due: prettier, eslint

Whole quadrant clcikable
  frontend/src/components/graph/FlowEditor.vue
Due: prettier, eslint

simplify compass css and improve hovering
  frontend/src/components/graph/FlowEditor.vue
Due: prettier, eslint

reset version post fork
  VERSION
Due: update-version

simplify readme and update links
  README.md
Due: none

update decription
  README.md
Due: none

unversion frontend .env files and log header links
  frontend/.env
  frontend/.env.development
  frontend/src/components/common/Header.vue
Due: prettier, eslint

fix env reading in backend settings
  backend/settings.py
Due: pytest-check

change password
  backend/api/users.py
  backend/test_password_update.py
  frontend/src/router/index.js
  frontend/src/views/UpdatePassword.vue
  frontend/src/views/UserSettings.vue
Due: pytest-check, prettier, eslint

add theme switch
  frontend/src/components/common/Header.vue
  frontend/src/components/common/ThemeToggle.vue
  frontend/src/composables/useTheme.js
  frontend/src/views/UserSettings.vue
Due: prettier, eslint

add superadmin privileges, demoting admin option, and improve user management pane
  backend/alembic/versions/36373c67bbee_merge_heads.py
  backend/alembic/versions/f9a8b1c2d3e4_add_is_super_admin_to_user.py
  backend/api/auth.py
  backend/api/users.py
  backend/db/postgresql.py
  backend/main.py
  backend/models/fixed.py
  backend/test_super_admin.py
  docs/user-roles.md
  frontend/src/composables/useAuth.js
  frontend/src/composables/useConfig.ts
  frontend/src/views/AdminUsers.vue
  frontend/src/views/Login.vue
Due: pytest-check, prettier, eslint

clarify security question requirement
  frontend/src/views/Signup.vue
Due: prettier, eslint

add permission levels for operations on graph elements
  backend/api/edges.py
  backend/api/nodes.py
  backend/config.py
  backend/main.py
  backend/test_permissions.py
  backend/utils/permissions.py
  config/config-example.yaml
  frontend/src/components/common/SideMenu.vue
  frontend/src/components/edge/EdgeInfo.vue
  frontend/src/components/graph/FlowEditor.vue
  frontend/src/components/node/NodeInfo.vue
  frontend/src/composables/useConfig.ts
  frontend/src/views/ElementFocus.vue
Due: pytest-check, prettier, eslint

stay on current page when possible at logout
  frontend/src/components/common/SideMenu.vue
Due: prettier, eslint

better handling of permissions update when logging in or out
  frontend/src/composables/useAuth.js
  frontend/src/composables/useConfig.ts
Due: prettier, eslint

switch back to view mode at logout
  frontend/src/components/common/SideMenu.vue
Due: prettier, eslint

add admin/super admin requirements for grpah update/deletion
  backend/api/graph.py
Due: pytest-check

set up networks and deactivate backend port exposure in prod
  docker-compose.dev.yaml
  docker-compose.prod.yaml
  docker-compose.yaml
Due: none

SSL encryption
  nginx/nginx-ssl.conf.template
Due: none

fix nginx config
  nginx/nginx-ssl.conf.template
Due: none

improved SSL setup
  nginx/nginx-ssl.conf.template
Due: none

fix typo
  nginx/nginx-ssl.conf.template
Due: none

suggest stronger passwords
  .env.example
Due: none

rename and improve starter script
  compose.sh
Due: none

adaptive header styling
  frontend/src/components/common/Header.vue
  frontend/src/components/common/SearchBar.vue
Due: prettier, eslint

improve readability of menu items
  frontend/src/components/common/SideMenu.vue
Due: prettier, eslint

Add security enhancements to prevent URIError crashes and block attack patterns
  frontend/src/main.js
  frontend/src/router/index.js
  nginx/nginx-ssl.conf.template
Due: prettier, eslint

CRITICAL: Fix config endpoint 404 and nginx routing issues
  backend/main.py
  frontend/index.html
  frontend/public/favicon.ico
  nginx/nginx-ssl.conf.template
Due: pytest-check, prettier, eslint

fix 404 issue while working config getter
  backend/main.py
  config/config-example.yaml
  nginx/nginx-ssl.conf.template
Due: pytest-check

update requirements to remmove vulnerabilities
  backend/requirements.in
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: pytest-check, prettier, eslint

fix requirement
  backend/requirements.in
  backend/requirements.txt
Due: pytest-check

volume mount for node modules
  docker-compose.prod.yaml
  docker-compose.yaml
Due: none

updated prod config to avoid npm crashing
  docker-compose.prod.yaml
Due: none

fix setup for paths & network config
  docker-compose.prod.yaml
  docker-compose.yaml
Due: none

fix vite dependency
  docker-compose.prod.yaml
Due: none

remove unused volume
  docker-compose.prod.yaml
Due: none

fixing starlette security alert
  backend/requirements.in
  backend/requirements.txt
Due: pytest-check
