Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint, update-version

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
        files: ^backend/
-   repo: local
    hooks:
    -   id: pytest-check
        name: pytest-check
        files: ^backend/
        entry: pytest
        language: system
        pass_filenames: false
        always_run: false
    -   id: prettier
        name: prettier
        files: ^frontend/
        entry: npm run format --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: eslint
        name: eslint
        files: ^frontend/
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: update-version
        name: update version from file
        entry: node frontend/scripts/updateVersion.cjs
        language: system
        files: ^VERSION$
        pass_filenames: false

simplify readme, improve doc structure, update copyright
  README.md
  docs/configuration.md
  docs/developers.md
  docs/index.md
  docs/modelling_graph.md
  docs/modelling_support.md
  docs/view_browsing.md
  docs/view_elemental.md
  docs/view_user.md
  mkdocs.yml
Due: none

rename and add info to focus view
  docs/view_elemental.md
  docs/view_focus.md
  mkdocs.yml
Due: none

better organisation and populate views docs
  docs/modelling/graph.md
  docs/modelling/support.md
  docs/view/browsing.md
  docs/view/focus.md
  docs/view/user.md
  docs/view_browsing.md
  docs/view_focus.md
  mkdocs.yml
Due: none

update quote
  docs/configuration.md
Due: none

remove old file
  docs/concepts.md
  docs/modelling/graph.md
Due: none

bump version
  VERSION
  backend/alembic/versions/f318a73f684d_update_entity_state_and_type_in_.py
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
Due: pytest-check, prettier, eslint, update-version

fix vulnerability
  backend/requirements.in
  backend/requirements.txt
Due: pytest-check

update vite
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint

separate dev reqs files and fix vulnerabilities
  README.md
  backend/requirements-dev.in
  backend/requirements-dev.txt
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: pytest-check, prettier, eslint

fix links
  docs/configuration.md
  docs/index.md
  docs/modelling/graph.md
  docs/view/browsing.md
Due: none

fix links
  docs/modelling/graph.md
  docs/view/browsing.md
Due: none

update node apparence based on type
  frontend/src/composables/formatFlowComponents.js
Due: prettier, eslint

show node title on top
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/NodeInfoView.vue
Due: prettier, eslint

visible selection shadow in dark mode
  frontend/src/assets/styles.css
Due: prettier, eslint

simplify edge ratings to causal strength, add related endpoints and histogram, and update tooltips
  backend/database/base.py
  backend/database/postgresql.py
  backend/main.py
  backend/test_ratings.py
  frontend/src/components/ElementRating.vue
  frontend/src/components/SupportHistogram.vue
  frontend/src/views/ElementFocus.vue
Due: pytest-check, prettier, eslint

update C colour
  frontend/src/assets/styles.css
  frontend/src/components/ElementRating.vue
  frontend/src/composables/formatFlowComponents.js
Due: prettier, eslint

fetch edges median causal ratings and use them to colour edges on flow view
  backend/database/postgresql.py
  backend/main.py
  frontend/src/views/ElementFocus.vue
Due: pytest-check, prettier, eslint

fix type issue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

minor display fixes
  frontend/src/components/ElementRating.vue
  frontend/src/components/NodeInfoView.vue
Due: prettier, eslint

update doc with causal ratings and images
  docs/index.md
  docs/modelling/demos.md
  docs/modelling/graph.md
  docs/modelling/support.md
  docs/view/browse_view_example.png
  docs/view/browsing.md
  docs/view/focus.md
  docs/view/focus_view_example.png
  mkdocs.yml
Due: none

bump version
  VERSION
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint, update-version

fix vite vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint

change search bar suggestion
  frontend/src/components/SearchBar.vue
Due: prettier, eslint

arguments forwarded directly to docker compose
  README.md
  start_docker.sh
Due: none

change file rights
  start_docker.sh
Due: none

add project node type
  backend/models.py
  backend/test_models.py
  docs/modelling/graph.md
  frontend/src/assets/tooltips.json
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/composables/formatFlowComponents.js
Due: pytest-check, prettier, eslint

reverse node radius hierarchy
  frontend/src/components/NodeInfoView.vue
  frontend/src/composables/formatFlowComponents.js
Due: prettier, eslint

increase border radius
  frontend/src/composables/formatFlowComponents.js
Due: prettier, eslint

update starting instruction in doc
  docs/index.md
Due: none

fix error when node is created
  frontend/src/components/SupportHistogram.vue
Due: prettier, eslint

ignore node or edge click if already selected
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

adk for confirmation before clicking on flow element
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

preserve edge colour on edit
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

confirming before quiting or submiting node change
  frontend/src/components/NodeInfo.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/composables/useUnsaved.js
  frontend/src/router/index.js
Due: prettier, eslint

keep support colour after editing node
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

fix new flag issue leading to missing link at node creation
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

bump vite
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint

confirmation before quitting url or tab in edge edit mode
  frontend/src/components/EdgeInfo.vue
  frontend/src/components/EdgeInfoEdit.vue
Due: prettier, eslint

ask for confirmation for internal route push from edge edit mdoe too
  frontend/src/components/EdgeInfoEdit.vue
Due: prettier, eslint

rename submit button at element creation
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/NodeInfoEdit.vue
Due: prettier, eslint
