Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint, update-version

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
        files: ^backend/
-   repo: local
    hooks:
    -   id: pytest-check
        name: pytest-check
        files: ^backend/
        entry: pytest
        language: system
        pass_filenames: false
        always_run: false
    -   id: prettier
        name: prettier
        files: ^frontend/
        entry: npm run format --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: eslint
        name: eslint
        files: ^frontend/
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: update-version
        name: update version from file
        entry: node frontend/scripts/updateVersion.cjs
        language: system
        files: ^VERSION$
        pass_filenames: false

move auth under api package
  backend/api/auth.py
  backend/api/users.py
  backend/main.py
  backend/test_ratings.py
Due: pytest-check

move nodes/ and edges/ under api package
  backend/api/edges.py
  backend/api/nodes.py
  backend/main.py
Due: pytest-check

merge node/ with nodes/ routes
  backend/api/nodes.py
  backend/main.py
  frontend/src/components/NodeHistory.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SideMenu.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/ElementFocus.vue
  frontend/src/views/Favourites.vue
Due: pytest-check, prettier, eslint

merge edge/ with edges/ routes
  backend/api/edges.py
  backend/main.py
  backend/test_main.py
  frontend/src/components/EdgeHistory.vue
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/ElementFocus.vue
Due: pytest-check, prettier, eslint

rename network to graph in a dedicated router
  backend/api/graph.py
  backend/main.py
  backend/test_main.py
Due: pytest-check

rename network as graph and merge subnet with graph
  backend/api/graph.py
  backend/db/base.py
  backend/db/janusgraph.py
  backend/db/postgresql.py
  backend/dynamic_models.py
  backend/main.py
  backend/models.py
  backend/test_main.py
  frontend/src/components/SubgraphRenderer.vue
  frontend/src/views/ElementFocus.vue
Due: pytest-check, prettier, eslint

move schema to graph/schema
  backend/api/graph.py
  backend/main.py
  frontend/src/components/GraphSchema.vue
Due: pytest-check, prettier, eslint

standardise ratings endpoints inside nodes and edges
  backend/api/edges.py
  backend/api/nodes.py
  backend/main.py
  backend/test_ratings.py
  frontend/src/axios.js
  frontend/src/components/ElementRating.vue
  frontend/src/components/SupportHistogram.vue
  frontend/src/views/ElementFocus.vue
Due: pytest-check, prettier, eslint

some cleanup
  backend/main.py
Due: pytest-check

organise models into package
  backend/api/auth.py
  backend/api/edges.py
  backend/api/graph.py
  backend/api/nodes.py
  backend/api/users.py
  backend/db/base.py
  backend/db/janusgraph.py
  backend/db/postgresql.py
  backend/main.py
  backend/models/__init__.py
  backend/models/base.py
  backend/models/dynamic.py
  backend/models/fixed.py
  backend/models/rating.py
  backend/test_models.py
  backend/test_ratings.py
Due: pytest-check

some more cleanup
  backend/main.py
Due: pytest-check

fix vulnerabilities
  frontend/package-lock.json
Due: prettier, eslint

simplify backend calls
  frontend/src/components/EdgeHistory.vue
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/ElementRating.vue
  frontend/src/components/NodeHistory.vue
  frontend/src/components/NodeInfo.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SideMenu.vue
  frontend/src/components/SubgraphRenderer.vue
  frontend/src/components/SupportHistogram.vue
  frontend/src/views/ElementFocus.vue
  frontend/src/views/Login.vue
  frontend/src/views/MainPage.vue
  frontend/src/views/ResetPassword.vue
  frontend/src/views/SearchPage.vue
  frontend/src/views/Signup.vue
  frontend/src/views/UpdateSecurityQuestion.vue
  frontend/src/views/UserSettings.vue
  frontend/src/views/VerifySecurityQuestion.vue
Due: prettier, eslint

move axios to api/
  frontend/src/api/axios.js
  frontend/src/components/EdgeHistory.vue
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/ElementRating.vue
  frontend/src/components/GraphSchema.vue
  frontend/src/components/NodeHistory.vue
  frontend/src/components/NodeInfo.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SideMenu.vue
  frontend/src/components/SubgraphRenderer.vue
  frontend/src/components/SupportHistogram.vue
  frontend/src/composables/useConfig.ts
  frontend/src/views/ElementFocus.vue
  frontend/src/views/Favourites.vue
  frontend/src/views/Login.vue
  frontend/src/views/MainPage.vue
  frontend/src/views/ResetPassword.vue
  frontend/src/views/SearchPage.vue
  frontend/src/views/Signup.vue
  frontend/src/views/UpdateSecurityQuestion.vue
  frontend/src/views/UserSettings.vue
  frontend/src/views/VerifySecurityQuestion.vue
Due: prettier, eslint

sort out components in subfolders
  frontend/src/components/common/Icon.vue
  frontend/src/components/common/Layout.vue
  frontend/src/components/common/SearchBar.vue
  frontend/src/components/common/SideMenu.vue
  frontend/src/components/edge/EdgeHistory.vue
  frontend/src/components/edge/EdgeInfo.vue
  frontend/src/components/edge/EdgeInfoEdit.vue
  frontend/src/components/edge/EdgeInfoView.vue
  frontend/src/components/graph/GraphSchema.vue
  frontend/src/components/graph/SpecialEdge.vue
  frontend/src/components/graph/SpecialNode.vue
  frontend/src/components/graph/SubgraphRenderer.vue
  frontend/src/components/node/NodeHistory.vue
  frontend/src/components/node/NodeInfo.vue
  frontend/src/components/node/NodeInfoEdit.vue
  frontend/src/components/node/NodeInfoView.vue
  frontend/src/components/node/NodeListItem.vue
  frontend/src/components/rating/ElementRating.vue
  frontend/src/components/rating/SupportHistogram.vue
  frontend/src/router/index.js
  frontend/src/views/ElementFocus.vue
  frontend/src/views/Favourites.vue
  frontend/src/views/MainPage.vue
  frontend/src/views/Schema.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

remove a few logs
  frontend/src/components/graph/SubgraphRenderer.vue
Due: prettier, eslint

check/warn over allowed types when creating edge between existing nodes
  frontend/src/components/edge/EdgeInfoEdit.vue
  frontend/src/components/graph/SubgraphRenderer.vue
  frontend/src/composables/useGraphSchema.ts
Due: prettier, eslint

enforce schema for new node targets/sources
  frontend/src/components/graph/SubgraphRenderer.vue
  frontend/src/components/node/NodeInfoEdit.vue
  frontend/src/composables/useGraphSchema.ts
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

infre possible node types earlier on at creation
  frontend/src/components/graph/SubgraphRenderer.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

enable self-edges
  backend/api/graph.py
Due: pytest-check

properly refresh props when navigating on a graph and limit possible edges types when editing
  frontend/src/components/edge/EdgeInfo.vue
  frontend/src/components/edge/EdgeInfoEdit.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

add todos for graph schema validation on backend
  backend/api/edges.py
  backend/api/nodes.py
Due: pytest-check

update config format to remove useless top level field and add polls
  backend/config.py
  backend/main.py
Due: pytest-check

update database and types for configurable polls labels and scales
  backend/api/edges.py
  backend/api/nodes.py
  backend/db/base.py
  backend/db/postgresql.py
  backend/models/fixed.py
  backend/properties.py
  backend/test_ratings.py
  frontend/src/components/rating/ElementRating.vue
  frontend/src/components/rating/SupportHistogram.vue
Due: pytest-check, prettier, eslint

renaming to polls for clarity
  frontend/src/components/poll/ElementPollPane.vue
  frontend/src/components/poll/RatingHistogram.vue
  frontend/src/views/ElementFocus.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

importing polls config
  frontend/src/composables/useConfig.ts
Due: prettier, eslint

fix exec syntax
  backend/db/postgresql.py
Due: pytest-check

optional poll types to debug/simplify requests on frontend
  backend/api/edges.py
  backend/api/nodes.py
Due: pytest-check

instantiate poll panes based on config - introduce slider for continuous polls
  frontend/src/components/poll/ElementPollPane.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

fix histogram and adapt it to poll config
  frontend/src/components/poll/ElementPollPane.vue
  frontend/src/components/poll/RatingHistogram.vue
Due: prettier, eslint

continuous histogram comes to life
  frontend/src/components/poll/RatingHistogram.vue
Due: prettier, eslint

revive aggregate ratings histograms
  frontend/src/components/poll/ElementPollPane.vue
  frontend/src/components/poll/RatingHistogram.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

merge the different polls panes in one - put tab buttons to the right
  frontend/src/assets/styles.css
  frontend/src/components/edge/EdgeInfo.vue
  frontend/src/components/node/NodeInfo.vue
  frontend/src/components/poll/AggRatingMultipane.vue
  frontend/src/components/poll/RatingHistogram.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

prevent polls for new elements
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

shorten histgram chart height
  frontend/src/components/poll/RatingHistogram.vue
Due: prettier, eslint

fix chartClick action while warning over rating search currently unsupported
  frontend/src/components/poll/RatingHistogram.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

small fix
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

fix wrong paramer signture in nodes/ratings/median
  backend/api/nodes.py
  frontend/src/components/poll/RatingHistogram.vue
Due: pytest-check, prettier, eslint

add colour scheme for histogram bars
  frontend/src/components/poll/ElementPollPane.vue
  frontend/src/components/poll/RatingHistogram.vue
  frontend/src/utils/colorUtils.js
Due: prettier, eslint

remove scope grouping and add ndoe type in search results / node lists
  frontend/src/components/graph/SubgraphRenderer.vue
  frontend/src/components/node/NodeListItem.vue
  frontend/src/views/Favourites.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint
