Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint, update-version

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
        files: ^backend/
-   repo: local
    hooks:
    -   id: pytest-check
        name: pytest-check
        files: ^backend/
        entry: pytest
        language: system
        pass_filenames: false
        always_run: false
    -   id: prettier
        name: prettier
        files: ^frontend/
        entry: npm run format --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: eslint
        name: eslint
        files: ^frontend/
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: update-version
        name: update version from file
        entry: node frontend/scripts/updateVersion.cjs
        language: system
        files: ^VERSION$
        pass_filenames: false

update model unit tests to test the current dynamic, config-driven archi
  backend/conftest.py
  backend/test_models.py
Due: pytest-check

version test config
  .gitignore
  config/config-test.yaml
Due: none

update test_main with minimal tests for now
  backend/test_main.py
Due: pytest-check

refactor test files to use consistent database configuration and improve user authentication mocks
  backend/test_main.py
  backend/test_password_update.py
  backend/test_ratings.py
  backend/test_users.py
Due: pytest-check

fix unit tests and include them in pre-commit
  .pre-commit-config.yaml
  backend/test_main.py
  backend/test_password_update.py
  backend/test_ratings.py
Due: pytest-check

fix email on betanotice
  frontend/src/views/BetaNotice.vue
Due: prettier, eslint

clarifies overriding between envs
  docker-compose.dev.yaml
  docker-compose.prod.yaml
Due: none

add SSL certificate setup functionality for production environment
  compose.sh
Due: none

improve vite config and url hosts
  frontend/src/views/BetaNotice.vue
  frontend/vite.config.js
Due: prettier, eslint

fix email ref on beta notice
  frontend/src/views/BetaNotice.vue
Due: prettier, eslint

replace sigma js with graph vis
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/graph/GraphVis.vue
  frontend/src/components/graph/SigmaGraphVis.vue
  frontend/src/views/MainPage.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

layout improvements and options in search
  frontend/src/components/graph/GraphVis.vue
  frontend/src/views/MainPage.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

add directionality to clusters and fix some issues
  frontend/src/components/graph/GraphVis.vue
  frontend/src/views/MainPage.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

better shape and fill of the space
  frontend/src/components/graph/GraphVis.vue
Due: prettier, eslint

improve node separation in graph layout
  frontend/src/components/graph/GraphVis.vue
Due: prettier, eslint

add tooltipe to nodes
  frontend/src/components/graph/GraphVis.vue
  frontend/src/views/MainPage.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

hover on edge though misplaced
  frontend/src/components/graph/GraphVis.vue
Due: prettier, eslint

solve edge tooltip placement
  frontend/src/components/graph/GraphVis.vue
Due: prettier, eslint

reformat using native cosmosgl force simulation
  frontend/src/components/graph/GraphVis.vue
Due: prettier, eslint

reactive theme switch
  frontend/src/components/graph/GraphVis.vue
Due: prettier, eslint

include connections in serch result graph
  backend/api/nodes.py
  backend/db/base.py
  backend/db/janusgraph.py
  backend/db/postgresql.py
  frontend/src/views/SearchPage.vue
Due: pytest-check, prettier, eslint

hilight main search results versus connections
  frontend/src/components/graph/GraphVis.vue
  frontend/src/views/MainPage.vue
Due: prettier, eslint

hide ratings histogram and widen graph in search mode
  frontend/src/components/graph/GraphVis.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

match layouts in focus and search modes - fix overflows - add tabs in search viz
  frontend/src/views/ElementFocus.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

implement and adapt flow view for search mode
  frontend/src/components/graph/FlowEditor.vue
  frontend/src/components/node/NodeListItem.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

fix spacing between nodes
  frontend/src/composables/useLayout.js
Due: prettier, eslint

feat: Add GraphControls component to ElementFocus and SearchPage for dynamic graph depth and color settings
  frontend/src/components/graph/GraphControls.vue
  frontend/src/components/graph/GraphVis.vue
  frontend/src/components/graph/SpecialEdge.vue
  frontend/src/components/graph/SpecialNode.vue
  frontend/src/composables/formatFlowComponents.js
  frontend/src/composables/useConfig.ts
  frontend/src/views/ElementFocus.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

enable editing graph from search mode
  frontend/src/components/graph/FlowEditor.vue
  frontend/src/views/ElementFocus.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

improving results list display
  frontend/src/components/node/NodeListItem.vue
Due: prettier, eslint
