Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint, update-version

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
        files: ^backend/
-   repo: local
    hooks:
    -   id: pytest-check
        name: pytest-check
        files: ^backend/
        entry: pytest
        language: system
        pass_filenames: false
        always_run: false
    -   id: prettier
        name: prettier
        files: ^frontend/
        entry: npm run format --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: eslint
        name: eslint
        files: ^frontend/
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: update-version
        name: update version from file
        entry: node frontend/scripts/updateVersion.cjs
        language: system
        files: ^VERSION$
        pass_filenames: false

fix vulnerability
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint

enhance path validation to allow legitimate admin routes while blocking suspicious patterns
  frontend/src/router/index.js
Due: prettier, eslint

Simpler tooltips for creating connections
  frontend/src/components/graph/SpecialNode.vue
Due: prettier, eslint

fix tooltip for directional quadrant
  frontend/src/components/graph/FlowEditor.vue
Due: prettier, eslint

add tooltips for nodes
  frontend/src/components/graph/SpecialNode.vue
Due: prettier, eslint

improve message when no search result
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

align view and edit styles better and move favourite star
  frontend/src/assets/styles.css
  frontend/src/components/edge/EdgeInfo.vue
  frontend/src/components/edge/EdgeInfoEdit.vue
  frontend/src/components/edge/EdgeInfoView.vue
  frontend/src/components/node/NodeInfo.vue
  frontend/src/components/node/NodeInfoEdit.vue
  frontend/src/components/node/NodeInfoView.vue
Due: prettier, eslint

remove graph schema from side bar
  frontend/src/components/common/SideMenu.vue
Due: prettier, eslint

button to create node from search results if none
  frontend/src/views/ElementFocus.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

visual tweaks on info edit mode
  frontend/src/assets/styles.css
  frontend/src/components/edge/EdgeInfoEdit.vue
  frontend/src/components/node/NodeInfoEdit.vue
  frontend/src/views/About.vue
Due: prettier, eslint

scopes: Add table, API and dynamic querying on client
  backend/alembic/versions/a1b2c3d4e5f6_add_scopes_table.py
  backend/api/nodes.py
  backend/api/scopes.py
  backend/db/connections.py
  backend/main.py
  backend/models/fixed.py
  frontend/src/components/node/NodeInfoEdit.vue
  frontend/src/components/node/ScopeAutocomplete.vue
Due: pytest-check, prettier, eslint

reset previous about page
  frontend/src/views/About.vue
Due: prettier, eslint

description now in configuration—improvement of main and about pages
  backend/config.py
  backend/main.py
  config/config-example.yaml
  frontend/src/composables/useConfig.ts
  frontend/src/views/About.vue
  frontend/src/views/MainPage.vue
Due: pytest-check, prettier, eslint

hide layout controls on global graph view
  frontend/src/components/graph/SigmaGraphVis.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

add background graph view
  frontend/src/views/MainPage.vue
Due: prettier, eslint

introduce graph interactivity on mainpage, and improve box layout
  frontend/src/views/MainPage.vue
Due: prettier, eslint

platform name click leads to main page
  frontend/src/components/common/Header.vue
Due: prettier, eslint

update vite to fix vulnerability
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint

create scope if doesn't exist on import too
  backend/db/postgresql.py
Due: pytest-check

change circle handles for directional triangles
  frontend/src/components/graph/SpecialNode.vue
Due: prettier, eslint

adapt edges and size to new handle type
  frontend/src/components/graph/SpecialEdge.vue
  frontend/src/components/graph/SpecialNode.vue
Due: prettier, eslint

slightly bigger handle
  frontend/src/components/graph/SpecialNode.vue
Due: prettier, eslint

add demo viewer and route
  frontend/src/components/graph/FlowEditor.vue
  frontend/src/router/index.js
  frontend/src/views/DemoViewer.vue
Due: prettier, eslint

add readonly mode activated in demo
  frontend/src/components/edge/EdgeInfo.vue
  frontend/src/components/graph/FlowEditor.vue
  frontend/src/components/node/NodeInfo.vue
  frontend/src/views/DemoViewer.vue
Due: prettier, eslint

add header and side bar in demo mode
  frontend/src/router/index.js
Due: prettier, eslint

remove email/display name and add privacy policy
  frontend/src/router/index.js
  frontend/src/views/PrivacyPolicy.vue
  frontend/src/views/Signup.vue
Due: prettier, eslint

update starlette to fix vulnerability
  backend/requirements.in
  backend/requirements.txt
Due: pytest-check

update status values and new nodes default as draft
  backend/properties.py
  backend/test_models.py
  frontend/src/assets/tooltips.json
  frontend/src/components/graph/FlowEditor.vue
  frontend/src/components/node/NodeInfoEdit.vue
  frontend/src/components/node/NodeInfoView.vue
  frontend/src/composables/formatFlowComponents.js
  frontend/src/views/ElementFocus.vue
Due: pytest-check, prettier, eslint

reintroduce search filters using existing search parser
  frontend/src/components/common/Header.vue
Due: prettier, eslint

add restricted access mode with beta test landing page
  backend/api/edges.py
  backend/api/nodes.py
  backend/config.py
  backend/test_permissions.py
  backend/utils/permissions.py
  config/config-example.yaml
  frontend/src/components/common/SideMenu.vue
  frontend/src/composables/useConfig.ts
  frontend/src/router/index.js
  frontend/src/views/BetaNotice.vue
Due: pytest-check, prettier, eslint

fix allow_signup config option
  backend/main.py
  frontend/src/components/common/SideMenu.vue
  frontend/src/composables/useConfig.ts
  frontend/src/router/index.js
  frontend/src/views/BetaNotice.vue
  frontend/src/views/Login.vue
Due: pytest-check, prettier, eslint

add token-based signup
  backend/alembic/versions/b2c3d4e5f6g7_add_signup_tokens_table.py
  backend/api/auth.py
  backend/config.py
  backend/main.py
  backend/models/fixed.py
  config/config-example.yaml
  frontend/src/views/Signup.vue
Due: pytest-check, prettier, eslint

update nginx configuration to include API server name and enhance security by denying access to sensitive files
  nginx/nginx-http-only.conf.template
Due: none

load platform name for document title
  frontend/src/App.vue
Due: prettier, eslint

sync and initialise versions
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  scripts/check-version-sync.sh
  scripts/sync-version.sh
Due: prettier, eslint

simplify sync-version script in pre-commit
  .pre-commit-config.yaml
Due: none

add more precommit formatting
  .pre-commit-config.yaml
Due: none

fix unit tests config
  backend/config.py
  backend/conftest.py
  pytest.ini
Due: pytest-check

refactor settings configuration for Pydantic v2 compatibility
  backend/settings.py
Due: pytest-check
