Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
        files: ^backend/
-   repo: local
    hooks:
    -   id: pytest-check
        name: pytest-check
        files: ^backend/
        entry: pytest
        language: system
        pass_filenames: false
        always_run: false
    -   id: prettier
        name: prettier
        files: ^frontend/
        entry: npm run format --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: eslint
        name: eslint
        files: ^frontend/
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        always_run: false

fix partial updates
  backend/database/sqlite.py
  backend/test_main.py
Due: pytest-check

remove default scope value and prevent submission of empty titles/scopes from UI
  backend/models.py
  backend/test_main.py
  backend/test_models.py
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/views/ElementFocus.vue
Due: pytest-check, prettier, eslint

rename and add options to start script
  README.md
  start.sh
  start_docker.sh
Due: none

deal with some warnings
  backend/database/janusgraph.py
  backend/test_main.py
Due: pytest-check

Allow dynamic database selection
  backend/main.py
Due: pytest-check

use metaclass to handle generic logging across databases
  backend/database/base.py
  backend/database/janusgraph.py
  backend/database/sqlite.py
Due: pytest-check

add database-related tests and fix edge creation for non existing nodes in sqlite
  backend/database/base.py
  backend/database/sqlite.py
  backend/test_main.py
  backend/test_models.py
Due: pytest-check

add info re database config
  README.md
Due: none

bump version
  backend/main.py
  frontend/package-lock.json
  frontend/package.json
Due: pytest-check, prettier, eslint

add grade to UI and sqlite, remove gradability
  backend/database/janusgraph.py
  backend/database/sqlite.py
  backend/models.py
  backend/test_models.py
  frontend/src/assets/tooltips.json
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/NodeInfoView.vue
Due: pytest-check, prettier, eslint

rename grade as support and display letter + descriptor in node UI
  backend/database/janusgraph.py
  backend/database/sqlite.py
  backend/models.py
  frontend/src/assets/tooltips.json
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/NodeInfoView.vue
Due: pytest-check, prettier, eslint

fix typo
  frontend/src/components/NodeInfoEdit.vue
Due: prettier, eslint

finish renaming grade field into support
  backend/database/sqlite.py
  backend/test_models.py
  frontend/src/components/NodeInfoView.vue
Due: pytest-check, prettier, eslint

clarify support question and its measurement using Likert scale
  backend/models.py
  frontend/src/assets/tooltips.json
  frontend/src/components/NodeInfoEdit.vue
Due: pytest-check, prettier, eslint

fix support label and tolltip in view mode
  frontend/src/assets/tooltips.json
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/NodeInfoView.vue
Due: prettier, eslint

node border colour using palette based on support
  frontend/src/composables/formatFlowComponents.js
Due: prettier, eslint

convert empty support string to null before sending
  frontend/src/components/NodeInfoEdit.vue
Due: prettier, eslint

change default type and order at creation
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

allow node_type editing
  backend/database/janusgraph.py
  backend/main.py
  backend/test_main.py
  frontend/src/components/NodeInfoEdit.vue
Due: pytest-check, prettier, eslint

warn when changing node type
  frontend/src/components/NodeInfoEdit.vue
Due: prettier, eslint

default status is live
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

default connected node status to live
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

use only imply edges on UI
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

remove cprob from edge ui and display causal rating instead
  frontend/src/assets/tooltips.json
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoView.vue
  frontend/src/components/NodeInfoEdit.vue
Due: prettier, eslint

fix support affectation when grade is provided
  backend/models.py
Due: pytest-check

update models for more validation, smoother property definition in databases, and adding new fields
  backend/database/janusgraph.py
  backend/database/sqlite.py
  backend/models.py
  backend/test_main.py
  backend/test_models.py
Due: pytest-check

change causal "rating" to "strength"
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoView.vue
Due: prettier, eslint

update edge style with colour from causal rating
  frontend/src/composables/formatFlowComponents.js
Due: prettier, eslint

fix node_type in search
  backend/database/janusgraph.py
Due: pytest-check

ignoring subfolders
  .gitignore
Due: none

fix new flag and consequent issues when editing new elements
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

define some events to prevent edge warnings
  frontend/src/components/EdgeInfo.vue
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoView.vue
Due: prettier, eslint

rename backend container for clarity
  docker-compose.janusgraph.yaml
  docker-compose.yaml
Due: none

output excludes deprecated fields
  backend/models.py
Due: pytest-check

test deprecated fields and clean up some warnings and code
  backend/database/janusgraph.py
  backend/models.py
  backend/test_main.py
  backend/test_models.py
Due: pytest-check

remove unnecessary 'new' field from data and update dev dependency
  frontend/src/components/NodeInfoEdit.vue
  package-lock.json
  package.json
Due: prettier, eslint

exclude empty edges from export
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

fix new node elemnt and edge export
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint
