Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint, update-version

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
        files: ^backend/
-   repo: local
    hooks:
    -   id: pytest-check
        name: pytest-check
        files: ^backend/
        entry: pytest
        language: system
        pass_filenames: false
        always_run: false
    -   id: prettier
        name: prettier
        files: ^frontend/
        entry: npm run format --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: eslint
        name: eslint
        files: ^frontend/
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: update-version
        name: update version from file
        entry: node frontend/scripts/updateVersion.cjs
        language: system
        files: ^VERSION$
        pass_filenames: false

make graph db optional, fix, simplify and reconcile management of two dbs
  README.md
  VERSION
  backend/.env
  backend/database/base.py
  backend/database/postgresql.py
  backend/main.py
  backend/test_main.py
  docker-compose.yaml
  docs/developers.md
  frontend/package-lock.json
  frontend/package.json
  start_docker.sh
Due: pytest-check, prettier, eslint, update-version

bump version
  frontend/package-lock.json
Due: prettier, eslint

process and log some incorrectly formatted elements in update_subnet
  backend/database/postgresql.py
Due: pytest-check

include objectivenet version and timestamp for whole network exports
  backend/main.py
  backend/models.py
Due: pytest-check

induced graph search goes backward too
  backend/database/postgresql.py
Due: pytest-check

address security vulnerability
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint

bump version
  VERSION
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint, update-version

rearrange focus and element layout and add rating card
  frontend/src/assets/styles.css
  frontend/src/components/ElementRating.vue
  frontend/src/components/Layout.vue
  frontend/src/components/NodeInfo.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/router/index.js
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

improve layout and questions for rating cards, remove rating stuff in element info
  frontend/src/assets/styles.css
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoView.vue
  frontend/src/components/ElementRating.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/NodeInfoView.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

add rating model/table in the backend, and connect user login to it
  backend/alembic/versions/2f40bcbcab53_addentity_type_column_to_ratingevent_.py
  backend/alembic/versions/db07fd44a335_generate_rating_table.py
  backend/database/base.py
  backend/database/postgresql.py
  backend/main.py
  backend/models.py
  backend/test_main.py
  backend/test_ratings.py
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/ElementRating.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/useAuth.js
  frontend/src/views/Login.vue
  frontend/src/views/UpdateSecurityQuestion.vue
  frontend/src/views/UserSettings.vue
Due: pytest-check, prettier, eslint

update rating on graph clicks
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

add cards containers to edge ratings
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

add refresh token for longer sessions
  backend/auth.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/axios.js
  frontend/src/components/EdgeHistory.vue
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/ElementRating.vue
  frontend/src/components/NodeHistory.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SideMenu.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/useAuth.js
  frontend/src/views/ElementFocus.vue
  frontend/src/views/Login.vue
  frontend/src/views/ResetPassword.vue
  frontend/src/views/SearchPage.vue
  frontend/src/views/Signup.vue
  frontend/src/views/UpdateSecurityQuestion.vue
  frontend/src/views/UserSettings.vue
  frontend/src/views/VerifySecurityQuestion.vue
Due: pytest-check, prettier, eslint

address esbuild vulnerability
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint

allow scrolling and keep sticky search bar at the top
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

improve search button appearance
  frontend/src/components/SearchBar.vue
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

adjust content position on layout and main page
  frontend/src/components/Layout.vue
  frontend/src/views/MainPage.vue
Due: prettier, eslint

search bar accepts parsable filters from mainpage, searchpage, and graph view
  frontend/src/components/SearchBar.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/utils/searchParser.js
  frontend/src/views/MainPage.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

improve style for embedded searchbar results and general theming
  frontend/src/assets/styles.css
  frontend/src/components/Layout.vue
  frontend/src/components/SearchBar.vue
  frontend/src/components/SideMenu.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/Login.vue
Due: prettier, eslint

minor styling update
  frontend/src/assets/styles.css
  frontend/src/components/SideMenu.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

bring in external nodes from embedded searches
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

update @vitejs/plugin-vue
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint

update vite
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint

fetch random quote from json file on the front page
  backend/.env
  backend/main.py
  frontend/src/views/MainPage.vue
Due: pytest-check, prettier, eslint

remove log
  backend/main.py
Due: pytest-check

unversion .env
  .gitignore
  backend/.envbase
  start_docker.sh
Due: pytest-check

add some margins to quotes
  frontend/src/views/MainPage.vue
Due: prettier, eslint

new endpoint and view to visualise median support ratings of all search results
  backend/database/base.py
  backend/main.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/SearchBar.vue
  frontend/src/components/SupportHistogram.vue
  frontend/src/views/SearchPage.vue
Due: pytest-check, prettier, eslint

only consider latest ratings per user for median computation
  backend/database/postgresql.py
Due: pytest-check

more efficient multi median ratings retrieval
  backend/database/base.py
  backend/database/postgresql.py
  backend/main.py
Due: pytest-check

nicer positioning and resizing of histogram
  frontend/src/components/SupportHistogram.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

encapsulate two columns with borders and homogenise their styling
  frontend/src/components/SupportHistogram.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

retrieve median ratings to show on graph view
  backend/main.py
  frontend/src/views/ElementFocus.vue
Due: pytest-check, prettier, eslint

add support histogram in element view
  backend/database/postgresql.py
  backend/main.py
  backend/models.py
  frontend/src/components/ElementRating.vue
  frontend/src/components/SupportHistogram.vue
Due: pytest-check, prettier, eslint

add tooltip on buttons
  frontend/src/components/ElementRating.vue
Due: prettier, eslint

fix recency in single node median rating
  backend/database/postgresql.py
  backend/main.py
Due: pytest-check

fixing selection of most recent rating per user for multiple ratings' median calculation
  backend/database/postgresql.py
Due: pytest-check

refreshing histogram at rating
  frontend/src/components/ElementRating.vue
  frontend/src/components/SupportHistogram.vue
Due: prettier, eslint
