Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint, update-version

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
        files: ^backend/
-   repo: local
    hooks:
    -   id: pytest-check
        name: pytest-check
        files: ^backend/
        entry: pytest
        language: system
        pass_filenames: false
        always_run: false
    -   id: prettier
        name: prettier
        files: ^frontend/
        entry: npm run format --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: eslint
        name: eslint
        files: ^frontend/
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: update-version
        name: update version from file
        entry: node frontend/scripts/updateVersion.cjs
        language: system
        files: ^VERSION$
        pass_filenames: false

allow filtering by rating in search
  backend/main.py
  frontend/src/utils/searchParser.js
  frontend/src/views/SearchPage.vue
Due: pytest-check, prettier, eslint

aliasing rating with numbers
  frontend/src/utils/searchParser.js
Due: prettier, eslint

click on histo bar applies filter dynamically
  frontend/src/components/SupportHistogram.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

moved number to letter parsing to last step before API call
  frontend/src/utils/searchParser.js
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

throw client error if rating is incorrect
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

update search example
  docs/view/browsing.md
Due: none

favourite view
  frontend/src/components/SideMenu.vue
  frontend/src/router/index.js
  frontend/src/views/Favourites.vue
Due: prettier, eslint

add star button to add node to favourites
  frontend/src/components/NodeInfo.vue
Due: prettier, eslint

display favourites list in similar way as search results
  frontend/src/components/NodeListItem.vue
  frontend/src/views/Favourites.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

refetching user fabourite when node prop changes to update it while navigating the flwo view
  frontend/src/components/NodeInfo.vue
Due: prettier, eslint

update software name
  README.md
  backend/alembic.ini
  backend/main.py
  backend/metamodel-config.json
  backend/models.py
  docker-compose.janusgraph.yaml
  docker-compose.yaml
  docs/configuration.md
  docs/index.md
  docs/modelling/graph.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/SideMenu.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/About.vue
  frontend/src/views/MainPage.vue
  frontend/src/views/SearchPage.vue
  mkdocs.yml
  plan_for_more_general_software.md
  start_docker.sh
Due: pytest-check, prettier, eslint

unversion file
  plan_for_more_general_software.md
Due: none

metamodel config loader
  backend/config.py
Due: pytest-check

update config loader, tokenizer and to load node types and edge types dynamically
  .gitignore
  backend/config.py
  backend/database/base.py
  backend/database/janusgraph.py
  backend/database/postgresql.py
  backend/main.py
  backend/metamodel-config.json
  backend/models.py
  backend/test_models.py
  config-example.yaml
  docker-compose.yaml
  start_docker.sh
Due: pytest-check

remove old cprob convertor
  backend/models.py
Due: pytest-check

dynamic nodes and edges types creation from config on backend properties can be 'activated' from the config from a set of
  backend/database/base.py
  backend/database/janusgraph.py
  backend/database/postgresql.py
  backend/dynamic_models.py
  backend/main.py
  backend/models.py
  backend/properties.py
Due: pytest-check

dynamic rending of types and properties from metamodel in elements info tabs
  backend/main.py
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoView.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/NodeInfoView.vue
  frontend/src/composables/useConfig.ts
Due: pytest-check, prettier, eslint

sort out node and edge creation, especially with basics for default node & edge types, properties...
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoView.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/NodeInfoView.vue
  frontend/src/components/SpecialEdge.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/formatFlowComponents.js
  frontend/src/composables/useConfig.ts
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

configure platform name displayed on UI
  backend/config.py
  backend/main.py
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoView.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/NodeInfoView.vue
  frontend/src/components/SideMenu.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/useConfig.ts
  frontend/src/views/About.vue
  frontend/src/views/ElementFocus.vue
  frontend/src/views/MainPage.vue
Due: pytest-check, prettier, eslint

check allowance before preparing properties for submission
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/NodeInfoEdit.vue
Due: prettier, eslint

only show (predefined) rating properties if activated in config
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

fix type issue
  frontend/src/components/NodeInfoView.vue
Due: prettier, eslint

ignore config folder
  .gitignore
Due: none

style params can be configured per element type
  backend/config.py
  backend/main.py
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoView.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/NodeInfoView.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/formatFlowComponents.js
  frontend/src/composables/useConfig.ts
  frontend/src/main.js
  frontend/src/views/ElementFocus.vue
Due: pytest-check, prettier, eslint

fix default type retrieval
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

move defaults directly to styles.css and update default node border radius
  frontend/src/assets/styles.css
  frontend/src/composables/formatFlowComponents.js
  frontend/src/composables/useConfig.ts
Due: prettier, eslint

fix access to edge_type properties
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

fix default edge creation
  frontend/src/components/NodeInfoEdit.vue
Due: prettier, eslint

fix error in rating retrieval for new nodes
  frontend/src/components/ElementRating.vue
Due: prettier, eslint

loading between information from config
  backend/config.py
  backend/main.py
Due: pytest-check

add graph schema endpoint
  backend/main.py
Due: pytest-check

rename edge_type label for clarity
  backend/main.py
Due: pytest-check

add graph schema view powered by sigmajs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/GraphSchema.vue
  frontend/src/components/SideMenu.vue
  frontend/src/router/index.js
  frontend/src/views/Schema.vue
Due: prettier, eslint

fix graph schema structure to allow multiple edges
  frontend/src/components/GraphSchema.vue
Due: prettier, eslint

remove alembic for now
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/17dad9d69830_add_security_question_and_answer_to_user.py
  backend/alembic/versions/2f40bcbcab53_addentity_type_column_to_ratingevent_.py
  backend/alembic/versions/db07fd44a335_generate_rating_table.py
  backend/alembic/versions/db568791d6d1_add_graphhistoryevent_table.py
  backend/alembic/versions/f318a73f684d_update_entity_state_and_type_in_.py
Due: pytest-check

renaming database modiule
  backend/auth.py
  backend/db/__init__.py
  backend/db/base.py
  backend/db/config.py
  backend/db/janusgraph.py
  backend/db/postgresql.py
  backend/main.py
  backend/test_main.py
  backend/test_ratings.py
  backend/test_users.py
Due: pytest-check

extract settings and connectors from main.py
  backend/.envbase
  backend/db/connections.py
  backend/main.py
  backend/requirements.in
  backend/requirements.txt
  backend/settings.py
  backend/test_main.py
  backend/version.py
Due: pytest-check

move users endpoint to api module
  backend/api/__init__.py
  backend/api/users.py
  backend/auth.py
  backend/db/base.py
  backend/db/janusgraph.py
  backend/db/postgresql.py
  backend/dynamic_models.py
  backend/main.py
  backend/test_models.py
  backend/test_ratings.py
Due: pytest-check

consistent absolute import style
  backend/auth.py
  backend/db/janusgraph.py
  backend/db/postgresql.py
  backend/dynamic_models.py
  backend/main.py
  backend/models.py
  backend/test_main.py
  backend/test_ratings.py
  backend/test_users.py
Due: pytest-check

group user/ and users/ endpoints
  backend/api/users.py
  backend/auth.py
  backend/test_users.py
  frontend/src/components/NodeInfo.vue
  frontend/src/views/Favourites.vue
  frontend/src/views/UpdateSecurityQuestion.vue
  frontend/src/views/UserSettings.vue
Due: pytest-check, prettier, eslint
