Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint

pytest-check:
  name: pytest-check
  entry: pytest
  language: system
  pass_filenames: false
  always_run: false

prettier:
  name: prettier
  entry: npm run format --prefix frontend
  language: system
  pass_filenames: false
  always_run: false

eslint:
  name: eslint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false
  always_run: false

more specific default export name
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

warning if no node to be exported
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

ask for confirmation before exporting during edit
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

move prettier dep to frontend project
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: prettier, eslint

update version from one file
  .gitignore
  .pre-commit-config.yaml
  README.md
  VERSION
  backend/main.py
  docker-compose.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/updateVersion.cjs
Due: pytest-check, prettier, eslint

update description
  README.md
Due: none

more consistent single node/ or edge/ endpoints on backend
  backend/main.py
  backend/models.py
  backend/test_main.py
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoView.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SideMenu.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/ElementFocus.vue
Due: pytest-check, prettier, eslint

update context of backend container to access version file
  backend/Dockerfile
  backend/__init__.py
  backend/main.py
  docker-compose.yaml
  pytest.ini
Due: pytest-check

inexistent target now shows edge not found
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

reset elements when not found
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

bump version
  VERSION
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint

bump verison
  frontend/package-lock.json
Due: prettier, eslint

fix issues with connection on proximity of handle ; and prevent connection to same handle type
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

fix node update
  frontend/src/components/NodeInfoEdit.vue
Due: prettier, eslint

start an mkdocs documentation
  docs/concepts.md
  docs/index.md
  mkdocs.yml
Due: none

update documentation
  .gitignore
  docs/democracy.md
  docs/graph.md
  docs/index.md
  mkdocs.yml
Due: none

update links, descriptions and doc intro
  README.md
  docs/index.md
  frontend/src/views/About.vue
  mkdocs.yml
Due: prettier, eslint

distinguish user and graph db and introduce postgresql for default user db
  README.md
  backend/.env
  backend/database/base.py
  backend/database/janusgraph.py
  backend/database/postgresql.py
  backend/database/sqlite.py
  backend/initdb/init-testdb.sh
  backend/main.py
  backend/models.py
  backend/requirements.in
  backend/requirements.txt
  backend/test_main.py
  backend/test_users.py
  backend/utils/security.py
  docker-compose.yaml
  start_docker.sh
Due: pytest-check

transition to SQLModel
  backend/models.py
  backend/requirements.in
  backend/requirements.txt
Due: pytest-check

set up user authentication
  backend/.env
  backend/auth.py
  backend/database/postgresql.py
  backend/main.py
  backend/requirements.in
  backend/requirements.txt
  backend/test_users.py
  docker-compose.yaml
  frontend/src/components/SideMenu.vue
  frontend/src/composables/useAuth.js
  frontend/src/router/index.js
  frontend/src/views/Login.vue
  frontend/src/views/Signup.vue
  frontend/src/views/UserSettings.vue
Due: pytest-check, prettier, eslint

update layout of login/signup
  frontend/src/components/Layout.vue
  frontend/src/components/SideMenu.vue
  frontend/src/views/Login.vue
  frontend/src/views/Signup.vue
Due: prettier, eslint

dark mode now saved as pref on backend, editable in settings
  backend/auth.py
  backend/database/base.py
  backend/database/postgresql.py
  frontend/src/assets/styles.css
  frontend/src/main.js
  frontend/src/views/UserSettings.vue
Due: pytest-check, prettier, eslint

setup alembic, add security Q&A to user model and UI, and migrate user db
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/17dad9d69830_add_security_question_and_answer_to_user.py
  backend/auth.py
  backend/database/postgresql.py
  backend/models.py
  backend/test_users.py
  frontend/src/router/index.js
  frontend/src/views/Login.vue
  frontend/src/views/ResetPassword.vue
  frontend/src/views/Signup.vue
  frontend/src/views/VerifySecurityQuestion.vue
Due: pytest-check, prettier, eslint

button to update security question from user settings
  frontend/src/router/index.js
  frontend/src/views/ResetPassword.vue
  frontend/src/views/UpdateSecurityQuestion.vue
  frontend/src/views/UserSettings.vue
  frontend/src/views/VerifySecurityQuestion.vue
Due: prettier, eslint

dispel potential vulnerability
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint

add users section and rearrange doc
  docs/democracy.md
  docs/developers.md
  docs/index.md
  mkdocs.yml
Due: none

sidebar on the far left, use var for border colour and factor styles
  frontend/src/assets/styles.css
  frontend/src/components/Layout.vue
  frontend/src/components/SideMenu.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/About.vue
  frontend/src/views/ElementFocus.vue
  frontend/src/views/Login.vue
  frontend/src/views/MainPage.vue
  frontend/src/views/ResetPassword.vue
  frontend/src/views/SearchPage.vue
  frontend/src/views/Signup.vue
  frontend/src/views/UpdateSecurityQuestion.vue
  frontend/src/views/VerifySecurityQuestion.vue
Due: prettier, eslint

introduce graph history table and use default 'anonymous' user if not provided
  backend/.env
  backend/alembic/versions/db568791d6d1_add_graphhistoryevent_table.py
  backend/auth.py
  backend/database/base.py
  backend/database/postgresql.py
  backend/main.py
  backend/models.py
  backend/test_main.py
  backend/test_users.py
  docker-compose.yaml
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SubnetRenderer.vue
Due: pytest-check, prettier, eslint

switch to storing full node outputs in history payload instead
  backend/main.py
Due: pytest-check

share engine between various postgres interfaces
  backend/database/config.py
  backend/database/postgresql.py
Due: pytest-check

fix edge creation logged state and improve fields in graph history table
  backend/alembic/versions/f318a73f684d_update_entity_state_and_type_in_.py
  backend/main.py
  backend/models.py
Due: pytest-check

graph database retrieved from postresql history db by default
  backend/.env
  backend/database/postgresql.py
  backend/main.py
  backend/test_main.py
  start_docker.sh
Due: pytest-check

remove sqlite option and env variable for relational db type
  README.md
  backend/.env
  backend/database/sqlite.py
  backend/main.py
  backend/test_main.py
  docker-compose.yaml
  docs/developers.md
  frontend/src/views/SearchPage.vue
Due: pytest-check, prettier, eslint

make some input types more specific and consistent
  backend/database/base.py
  backend/database/postgresql.py
Due: pytest-check

node history tab
  backend/main.py
  frontend/src/components/NodeHistory.vue
  frontend/src/components/NodeInfo.vue
  frontend/src/router/index.js
Due: pytest-check, prettier, eslint

add edge history tab
  backend/database/postgresql.py
  backend/main.py
  frontend/src/components/EdgeHistory.vue
  frontend/src/components/EdgeInfo.vue
  frontend/src/components/EdgeInfoView.vue
  frontend/src/router/index.js
Due: pytest-check, prettier, eslint

add username to logs
  backend/database/postgresql.py
  backend/main.py
  frontend/src/components/EdgeHistory.vue
  frontend/src/components/NodeHistory.vue
Due: pytest-check, prettier, eslint

Path conditions:
  pytest-check: any of: ^backend/
  prettier: any of: ^frontend/
  eslint: any of: ^frontend/
