Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint, update-version

pytest-check:
  name: pytest-check
  entry: pytest
  language: system
  pass_filenames: false
  always_run: false

prettier:
  name: prettier
  entry: npm run format --prefix frontend
  language: system
  pass_filenames: false
  always_run: false

eslint:
  name: eslint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false
  always_run: false

update-version:
  name: update version from file
  entry: node frontend/scripts/updateVersion.cjs
  language: system
  pass_filenames: false

fix edge creation bug
  backend/api/graph.py
Due: pytest-check

minor tags display update
  frontend/src/components/edge/EdgeInfoEdit.vue
  frontend/src/components/node/NodeInfoEdit.vue
Due: prettier, eslint

add support for custom property setting made of options
  backend/config.py
  backend/main.py
  backend/models/base.py
  backend/models/dynamic.py
  backend/test_main.py
  frontend/src/components/edge/EdgeInfoEdit.vue
  frontend/src/components/edge/EdgeInfoView.vue
  frontend/src/components/node/NodeInfoEdit.vue
  frontend/src/components/node/NodeInfoView.vue
Due: pytest-check, prettier, eslint

implement property filtering for nodes and edges based on type
  backend/api/edges.py
  backend/api/graph.py
  backend/api/nodes.py
  backend/config.py
  frontend/src/components/graph/FlowEditor.vue
  frontend/src/composables/formatFlowComponents.js
Due: pytest-check, prettier, eslint

Enhance node and edge status handling in visualizations
  backend/api/edges.py
  backend/api/nodes.py
  backend/config.py
  backend/utils/permissions.py
  config/config-example.yaml
  frontend/src/components/graph/GraphControls.vue
  frontend/src/components/node/NodeListItem.vue
  frontend/src/components/poll/ElementPollPane.vue
  frontend/src/composables/formatFlowComponents.js
  frontend/src/composables/useConfig.ts
  frontend/src/utils/graphColoring.js
  frontend/src/views/DemoViewer.vue
  frontend/src/views/ElementFocus.vue
  frontend/src/views/SearchPage.vue
Due: pytest-check, prettier, eslint

fix tag styling
  frontend/src/assets/styles.css
  frontend/src/components/common/TagSelector.vue
  frontend/src/components/edge/EdgeInfoEdit.vue
  frontend/src/components/node/NodeInfoEdit.vue
Due: prettier, eslint

activate graph layout when there's no edge
  frontend/src/components/graph/FlowEditor.vue
Due: prettier, eslint

deactivate interactive icon
  frontend/src/components/graph/FlowEditor.vue
Due: prettier, eslint

fix dark mode overflow issue
  frontend/src/assets/styles.css
Due: prettier, eslint

fix fit issue in mainpage
  frontend/src/views/MainPage.vue
Due: prettier, eslint

no rating info for draft elements
  frontend/src/components/poll/ElementPollPane.vue
Due: prettier, eslint

simplify search result info and colours
  frontend/src/components/node/NodeListItem.vue
Due: prettier, eslint

login prompts and anonymous rating support
  frontend/src/components/poll/ElementPollPane.vue
Due: prettier, eslint

add an info button in flow pane
  frontend/src/assets/styles.css
  frontend/src/components/common/Icon.vue
  frontend/src/components/graph/FlowEditor.vue
  frontend/src/components/graph/SpecialEdge.vue
  frontend/src/components/graph/SpecialNode.vue
  frontend/src/views/ElementFocus.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

fix placement of graph control header and place info button in it
  frontend/src/components/graph/GraphControls.vue
  frontend/src/views/ElementFocus.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

improved svg icons
  frontend/src/components/common/Icon.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

create documentation and contributors list - dedicated license for the doc - updated credits - updated readme
  CONTRIBUTORS.md
  README.md
  docs/.gitignore
  docs/LICENSE
  docs/api/auth.md
  docs/api/endpoints.md
  docs/api/index.md
  docs/architecture/data-model.md
  docs/architecture/overview.md
  docs/contributing/development.md
  docs/contributing/index.md
  docs/deployment/development.md
  docs/deployment/docker-compose.md
  docs/deployment/index.md
  docs/deployment/production.md
  docs/getting-started/concepts.md
  docs/getting-started/index.md
  docs/getting-started/quick-start.md
  docs/index.md
  docs/requirements.txt
  docs/user-guide/configuration.md
  docs/user-guide/content.md
  docs/user-guide/permissions.md
  docs/user-guide/setup.md
  docs/user-roles.md
  mkdocs.yml
Due: none

update license files following SPDX standards
  LICENSES/AGPL-3.0-or-later.txt
  README.md
Due: none

added CNAME for deployment
  docs/CNAME
Due: none

fix internal links
  README.md
Due: none

Admin UI to help manage signup tokens
  frontend/src/components/common/Layout.vue
  frontend/src/components/common/SideMenu.vue
  frontend/src/router/index.js
  frontend/src/views/AdminTokens.vue
  frontend/src/views/Signup.vue
Due: prettier, eslint

add explicit beta mode param
  backend/config.py
  backend/main.py
  config/config-example.yaml
  docs/user-guide/configuration.md
  frontend/src/components/common/SideMenu.vue
  frontend/src/composables/useConfig.ts
  frontend/src/router/index.js
  frontend/src/views/BetaNotice.vue
Due: pytest-check, prettier, eslint

improve signup form and make security question optional
  backend/models/fixed.py
  frontend/src/views/Signup.vue
Due: pytest-check, prettier, eslint

prevent access to BetaNotice page when not in beta mode
  frontend/src/router/index.js
Due: prettier, eslint

fix display and size issues with node handles
  frontend/src/assets/styles.css
  frontend/src/components/graph/SpecialNode.vue
Due: prettier, eslint

fix edit issue due to status-related restrictions
  backend/api/nodes.py
  backend/test_main.py
Due: pytest-check

fix vulnerability
  backend/requirements.in
  backend/requirements.txt
Due: pytest-check

fixing vulnerability
  backend/requirements.in
  backend/requirements.txt
Due: pytest-check

consistant example DB name
  .env.example
Due: none

fix moderate vulnerability
  backend/requirements-dev.in
  backend/requirements-dev.txt
Due: pytest-check

default colour for edges question properties, which update dynamically
  frontend/src/components/graph/FlowEditor.vue
  frontend/src/composables/formatFlowComponents.js
  frontend/src/views/DemoViewer.vue
  frontend/src/views/ElementFocus.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

wikidata_as and same_as new predefined properties
  backend/properties.py
  config/config-example.yaml
  frontend/src/assets/tooltips.json
  frontend/src/components/edge/EdgeInfoEdit.vue
  frontend/src/components/edge/EdgeInfoView.vue
  frontend/src/components/node/NodeInfoEdit.vue
  frontend/src/components/node/NodeInfoView.vue
Due: pytest-check, prettier, eslint

url rendering improved
  frontend/src/components/edge/EdgeInfoView.vue
  frontend/src/components/node/NodeInfoView.vue
Due: prettier, eslint

fix vulnerabilities
  backend/requirements.in
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: pytest-check, prettier, eslint

fix vunerabilities and bump version
  VERSION
  backend/requirements-dev.in
  backend/requirements-dev.txt
  backend/requirements.in
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: pytest-check, prettier, eslint, update-version

Path conditions:
  pytest-check: any of: ^backend/
  prettier: any of: ^frontend/
  eslint: any of: ^frontend/
  update-version: any of: ^VERSION$
