Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint, update-version

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
        files: ^backend/
-   repo: local
    hooks:
    -   id: pytest-check
        name: pytest-check
        files: ^backend/
        entry: pytest
        language: system
        pass_filenames: false
        always_run: false
    -   id: prettier
        name: prettier
        files: ^frontend/
        entry: npm run format --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: eslint
        name: eslint
        files: ^frontend/
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        always_run: false
    -   id: update-version
        name: update version from file
        entry: node frontend/scripts/updateVersion.cjs
        language: system
        files: ^VERSION$
        pass_filenames: false

return last modified date in seach results
  backend/api/nodes.py
  backend/models/dynamic.py
  frontend/src/components/node/NodeListItem.vue
  frontend/src/views/Favourites.vue
Due: pytest-check, prettier, eslint

add Node/Edge info to cards
  frontend/src/assets/styles.css
  frontend/src/components/edge/EdgeInfo.vue
  frontend/src/components/node/NodeInfo.vue
  frontend/src/components/poll/AggRatingMultipane.vue
Due: prettier, eslint

delete unused script
  backend/models/rating.py
Due: pytest-check

typo
  backend/requirements.in
Due: pytest-check

set postgres_db_url in .Env file
  backend/.envbase
  docker-compose.yaml
Due: pytest-check

set up alembic, add and mgirate is_active to user, allow admin option to confirm user
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/d6c2c5539c74_add_is_active_to_user.py
  backend/api/auth.py
  backend/config.py
  backend/models/dynamic.py
  backend/models/fixed.py
  backend/requirements.in
  backend/requirements.txt
Due: pytest-check

add is_admin field, and hotfix is_active
  backend/alembic/versions/8f0c3ed2c2a8_hotfix_backfill_is_active.py
  backend/alembic/versions/de8b3bb22e53_add_is_admin_to_user.py
  backend/models/fixed.py
Due: pytest-check

enable initial creation of admin user, fix new properties in user creation
  backend/db/postgresql.py
  backend/main.py
  backend/models/fixed.py
  backend/settings.py
Due: pytest-check

fix user sign up
  backend/api/auth.py
Due: pytest-check

add simple admin panel for listing and managing users
  backend/api/users.py
  backend/db/base.py
  backend/db/postgresql.py
  backend/models/fixed.py
  frontend/src/components/common/SideMenu.vue
  frontend/src/composables/useAuth.js
  frontend/src/router/index.js
  frontend/src/views/AdminUsers.vue
Due: pytest-check, prettier, eslint

homogenise style for user panels
  frontend/src/assets/styles.css
  frontend/src/views/AdminUsers.vue
  frontend/src/views/Favourites.vue
  frontend/src/views/Login.vue
  frontend/src/views/Signup.vue
  frontend/src/views/UserSettings.vue
Due: prettier, eslint

improve colouring for node list items
  frontend/src/components/node/NodeListItem.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

fix admin item not showing in side menu
  frontend/src/components/common/SideMenu.vue
  frontend/src/composables/useAuth.js
Due: prettier, eslint

mentioning need for approval when appropriate
  frontend/src/views/Signup.vue
Due: prettier, eslint

fixed state before initialization
  frontend/src/composables/useAuth.js
Due: prettier, eslint

remove quotes, fix random node call
  backend/main.py
  frontend/src/components/common/SideMenu.vue
  frontend/src/views/MainPage.vue
Due: pytest-check, prettier, eslint

favourite and irrelevant tabs disabled at element creation
  frontend/src/assets/styles.css
  frontend/src/components/edge/EdgeInfo.vue
  frontend/src/components/node/NodeInfo.vue
Due: prettier, eslint

make sure we don't hydrate new edge from cache to prevent issues
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

add sigma graph component to show full graph on main page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/graph/FlowEditor.vue
  frontend/src/components/graph/SigmaGraphVis.vue
  frontend/src/views/ElementFocus.vue
  frontend/src/views/MainPage.vue
Due: prettier, eslint

fix nodeclick
  frontend/src/views/MainPage.vue
Due: prettier, eslint

add global graph view for search results
  backend/api/edges.py
  frontend/src/components/graph/SigmaGraphVis.vue
  frontend/src/views/SearchPage.vue
Due: pytest-check, prettier, eslint

remove a few logs
  frontend/src/components/graph/SigmaGraphVis.vue
Due: prettier, eslint

update changes for nodes in search bar
  frontend/src/components/common/SearchBar.vue
Due: prettier, eslint

tweak force layout params
  frontend/src/components/graph/SigmaGraphVis.vue
Due: prettier, eslint

enable diffing between consecutive versions on node history
  frontend/src/components/node/NodeHistory.vue
Due: prettier, eslint

activate history for edges and at creation too
  frontend/src/components/edge/EdgeHistory.vue
  frontend/src/components/node/NodeHistory.vue
Due: prettier, eslint

Combine and simplify history lists
  frontend/src/components/common/HistoryList.vue
  frontend/src/components/edge/EdgeInfo.vue
  frontend/src/components/node/NodeHistory.vue
  frontend/src/components/node/NodeInfo.vue
Due: prettier, eslint

attempt at schema versioning and migration system
  backend/alembic/env.py
  backend/alembic/versions/0b52894be80f_add_schema_versioning_tables.py
  backend/api/graph.py
  backend/api/schema.py
  backend/config.py
  backend/main.py
  backend/models/dynamic.py
  backend/models/schema.py
  backend/requirements.in
  backend/requirements.txt
  backend/schema_manager.py
Due: pytest-check

add default for unknown types
  frontend/src/composables/formatFlowComponents.js
Due: prettier, eslint

fix a few issues and simplify schema management
  backend/api/auth.py
  backend/api/graph.py
  backend/api/schema.py
  backend/config.py
  backend/main.py
  backend/schema_manager.py
  schema-manager.sh
Due: pytest-check

decrease level of automatic DB logs
  backend/db/base.py
Due: pytest-check

ignore items of unrecognised type
  backend/db/postgresql.py
Due: pytest-check

fix issue with trying to retrieve inexistent edges
  backend/api/edges.py
Due: pytest-check

add change warnings for edges between and poll options
  backend/config.py
Due: pytest-check

show all polls not just for default node type
  frontend/src/composables/useConfig.ts
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

fix typo
  backend/api/edges.py
Due: pytest-check

remove some logs
  frontend/src/components/graph/SigmaGraphVis.vue
  frontend/src/views/SearchPage.vue
Due: prettier, eslint

no need to specify both node and edge types for polls
  backend/config.py
  frontend/src/components/poll/RatingHistogram.vue
Due: pytest-check, prettier, eslint

set up deployment onto commongraph.org
  docker-compose.prod.yaml
  frontend/.env
  frontend/vite.config.js
  nginx/nginx.conf
Due: prettier, eslint

fix setup
  docker-compose.prod.yaml
  docker-compose.yaml
  nginx/nginx.conf
Due: none
