Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint

pytest-check:
  name: pytest-check
  entry: pytest
  language: system
  pass_filenames: false
  always_run: false

prettier:
  name: prettier
  entry: npm run format --prefix frontend
  language: system
  pass_filenames: false
  always_run: false

eslint:
  name: eslint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false
  always_run: false

visualise new node before creation consistently
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

smoother new node entries, no refresh + update on graph on connection too
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/formatFlowComponents.js
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

layout only happens when subnet data updated - only direction is set at nodes initialising
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/useLayout.js
Due: prettier, eslint

position new node at click location
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

fix brand new node creation
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

faster new or random nodes when not in Focus mode
  frontend/src/components/SideMenu.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

fix spawning position for new node window
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

fix out of window position
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

improve searchbar style
  frontend/src/components/SearchBar.vue
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

search results have a slider
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

click on pane to hide searchBar
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

pane context menu now appears with disconnected new node creation possible
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

placeholder function to later fetch existing nodes
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

add tooltip to search results and higlight results currently present
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

add shadow on selected element(s) and remove edge hover style change for now
  frontend/src/assets/styles.css
  frontend/src/components/SpecialEdge.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/formatFlowComponents.js
Due: prettier, eslint

fix node creation on connection and only update graph elements when they are updated (not just on focus)
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

referent position for new node creation is connectEnd pos when available
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

end connection point is now roughly the intuitive new node handle location
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

bump version
  backend/main.py
  frontend/package-lock.json
  frontend/package.json
Due: pytest-check, prettier, eslint

actually add description property to edges
  backend/main.py
  backend/models.py
Due: pytest-check

move back .env within backend
  backend/.env
  docker-compose.yaml
Due: pytest-check

update minimal reqs to address security vulnerabilities
  README.md
  backend/requirements.in
  backend/requirements.txt
Due: pytest-check

update dev requirements and instructions
  README.md
  backend/requirements-dev.in
  backend/requirements-dev.txt
Due: pytest-check

fix typo for impl tooltip
  frontend/src/assets/tooltips.json
Due: prettier, eslint

fix new link source type
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

fixed issue with cprob = 0 or undefined
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoView.vue
Due: prettier, eslint

allow setting cprob to null
  backend/main.py
Due: pytest-check

improve behaviour for null cprob
  frontend/src/assets/styles.css
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoView.vue
Due: prettier, eslint

minor simplifications
  README.md
Due: none

info on backing up database
  .gitignore
  README.md
Due: none

implement abstract database layer with janusgraph just one of them
  backend/database/__init__.py
  backend/database/base.py
  backend/database/janusgraph.py
  backend/main.py
  backend/test_main.py
Due: pytest-check

start script with conditional docker-compose files for different DB setups
  README.md
  backend/.env
  docker-compose.janusgraph.yaml
  docker-compose.yaml
  start.sh
Due: pytest-check

drafting sqlite database
  .gitignore
  backend/.env
  backend/database/sqlite.py
  backend/main.py
  backend/test_main.py
Due: pytest-check

preparing for tests for multiple databases, overriding dependency injection and defaulting to janugraph's g_test for safety
  backend/main.py
  backend/test_main.py
Due: pytest-check

fix issues when running various threads on sqlite database during tests
  backend/database/sqlite.py
  backend/test_main.py
Due: pytest-check

fix basic model & parsing issues with sqlite
  backend/database/sqlite.py
  backend/test_main.py
Due: pytest-check

fix subnet iterative search
  backend/database/sqlite.py
Due: pytest-check

fix some default values
  backend/database/sqlite.py
Due: pytest-check

fix doubled edges when fetching induced subnet
  backend/database/sqlite.py
Due: pytest-check

Path conditions:
  pytest-check: any of: ^backend/
  prettier: any of: ^frontend/
  eslint: any of: ^frontend/
