Repository comodelling/commongraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, prettier, eslint

pytest-check:
  name: pytest-check
  entry: pytest
  language: system
  pass_filenames: false
  always_run: false

prettier:
  name: prettier
  entry: npm run format --prefix frontend
  language: system
  pass_filenames: false
  always_run: false

eslint:
  name: eslint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false
  always_run: false

fix offset at node creation and remove some prints
  frontend/src/components/NodeInfo.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

increase fetched levels to 10
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

introduce special edge to render cprob and standardise edge prop generation
  frontend/src/components/SpecialEdge.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/formatFlowComponents.js
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

update repo urls
  README.md
  frontend/src/views/About.vue
Due: prettier, eslint

add healthcheck condition on janusgraph to start vite and fastapi
  docker-compose.yaml
Due: none

remove unused files
  backend/data/.gitkeep
  frontend/public/vite.svg
Due: pytest-check, prettier, eslint

wider .vscode ignoring
  .gitignore
Due: none

move backend-allowed origins in root .env file
  .env
  README.md
  backend/main.py
  docker-compose.yaml
Due: pytest-check

bump version to v0.1.0
  backend/main.py
  backend/models.py
  backend/test_main.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/NodeInfoRead.vue
Due: pytest-check, prettier, eslint

update readme
  README.md
Due: none

fix NaN cprob displayed at node/edge creation
  frontend/src/components/SpecialEdge.vue
Due: prettier, eslint

nicer compass button
  frontend/src/components/Icon.vue
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

remove unused controls and align compass with controls more neatly
  frontend/src/components/Icon.vue
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

update control button titles
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

standardise formatting of node and fix status for new node
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/formatFlowComponents.js
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

slight handle style update
  frontend/src/assets/styles.css
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/formatFlowComponents.js
Due: prettier, eslint

bump version
  backend/main.py
  frontend/package.json
Due: pytest-check, prettier, eslint

finish bumping verison
  frontend/package-lock.json
Due: prettier, eslint

Add title, enable style sizing
  frontend/index.html
Due: prettier, eslint

indicate the currently selected causal direction
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

use custom node and add hover message on handle
  frontend/src/assets/styles.css
  frontend/src/components/SpecialNode.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/formatFlowComponents.js
Due: prettier, eslint

clarify export tooltip
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

label doesn't prevent selecting an edge
  frontend/src/components/SpecialEdge.vue
Due: prettier, eslint

add hover tooltip on edges
  frontend/src/components/SpecialEdge.vue
Due: prettier, eslint

update strokewidth on hover
  frontend/src/components/SpecialEdge.vue
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

change cursor on node hover
  frontend/src/assets/styles.css
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

update direction tooltip
  frontend/src/components/SubnetRenderer.vue
Due: prettier, eslint

update font family
  frontend/src/assets/styles.css
Due: prettier, eslint

consolidate node/edge style into style.css
  frontend/src/assets/styles.css
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/NodeInfoRead.vue
Due: prettier, eslint

deal with empty description and references more simply
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoRead.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/NodeInfoRead.vue
Due: prettier, eslint

type appears at the top, prob in %, and other improvements of element info UI
  frontend/src/assets/styles.css
  frontend/src/components/EdgeInfo.vue
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoRead.vue
  frontend/src/components/NodeInfo.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/NodeInfoRead.vue
Due: prettier, eslint

clarify source and target of cond proba
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoRead.vue
Due: prettier, eslint

define edge strokwidth as a function of cprob
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/formatFlowComponents.js
Due: prettier, eslint

update healthcheck config for a quieter janusgraph server
  docker-compose.yaml
Due: none

add tooltips for node fields in read mode
  frontend/src/components/NodeInfoRead.vue
Due: prettier, eslint

add an asset for properties tooltips
  frontend/src/assets/tooltips.json
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoRead.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/NodeInfoRead.vue
Due: prettier, eslint

change read tab to view tab
  frontend/src/components/EdgeInfo.vue
  frontend/src/components/NodeInfo.vue
Due: prettier, eslint

add tooltips for various statuses and types
  frontend/src/assets/tooltips.json
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/EdgeInfoRead.vue
  frontend/src/components/NodeInfoEdit.vue
Due: prettier, eslint

dynamic update of vue flow elements on submit + some event cleanup
  frontend/src/components/EdgeInfo.vue
  frontend/src/components/EdgeInfoEdit.vue
  frontend/src/components/NodeInfo.vue
  frontend/src/components/NodeInfoEdit.vue
  frontend/src/components/SubnetRenderer.vue
  frontend/src/composables/formatFlowComponents.js
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

finish transition from "read" to "view"
  frontend/src/components/EdgeInfo.vue
  frontend/src/components/EdgeInfoView.vue
  frontend/src/components/NodeInfo.vue
  frontend/src/components/NodeInfoView.vue
  frontend/src/views/ElementFocus.vue
Due: prettier, eslint

Path conditions:
  pytest-check: any of: ^backend/
  prettier: any of: ^frontend/
  eslint: any of: ^frontend/
